body{
    text-align: center;
}

#container{
    position: relative;
    display: inline-block;
}

#control{
    position: relative;
    overflow: hidden;
}

.botton{
    width:60px;
    height: 20px;
    border:2px solid gray;
    float: left;
    text-align: center;
    padding: 20px;
    margin: 0 10px 10px 10px;
}

